.category{
  &:hover{
    .category-content::after{
      transition-delay: .1s;
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }
    .category-content{
      span{
      transition-delay: .3s;
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
      }
      h3{
        transition-delay: .5s;
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
      }
      div{
        transition-delay: .7s;
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
      }
    }
  }
}
