<div class="bg-[#821f40] pt-[70px] pb-[65px] relative">
  <div>
    <img src="https://shofy-fashion.botble.com/themes/shofy/images/newsletter/shape-1.png"
      class="absolute opacity-40 mix-blend-luminosity max-w-full top-0 left-0" loading="lazy"
      data-src="https://shofy-fashion.botble.com/themes/shofy/images/newsletter/shape-1.png"
      alt="Subscribe our Newsletter" data-ll-status="loaded">
    <img src="https://shofy-fashion.botble.com/themes/shofy/images/newsletter/shape-2.png"
      class="absolute opacity-40 mix-blend-luminosity max-w-full left-[10%] top-[53%]" loading="lazy"
      data-src="https://shofy-fashion.botble.com/themes/shofy/images/newsletter/shape-2.png"
      alt="Subscribe our Newsletter" data-ll-status="loaded">
    <img src="https://shofy-fashion.botble.com/themes/shofy/images/newsletter/shape-3.png"
      class="absolute opacity-40 mix-blend-luminosity max-w-full left-[12%] bottom-[10%]" loading="lazy"
      data-src="https://shofy-fashion.botble.com/themes/shofy/images/newsletter/shape-3.png"
      alt="Subscribe our Newsletter" data-ll-status="loaded">
    <img src="https://shofy-fashion.botble.com/themes/shofy/images/newsletter/shape-4.png"
      class="absolute top-[-5%] right-[12%]" loading="lazy"
      data-src="https://shofy-fashion.botble.com/themes/shofy/images/newsletter/shape-4.png"
      alt="Subscribe our Newsletter" data-ll-status="loaded">
    <div class="absolute w-[399px] h-[110px] right-[17%] top-[24%] ">
      <img class="absolute left-[-6%] top-[-34%]"
        src="https://shofy-fashion.botble.com/themes/shofy/images/newsletter/plane.png" alt="Subscribe our Newsletter">
      <svg width="399" height="110" class="hidden sm:block" viewBox="0 0 399 110" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0.499634 1.00049C8.5 20.0005 54.2733 13.6435 60.5 40.0005C65.6128 61.6426 26.4546 130.331 15 90.0005C-9 5.5 176.5 127.5 218.5 106.5C301.051 65.2247 202 -57.9188 344.5 40.0003C364 53.3997 384 22 399 22"
          stroke="white" stroke-opacity="0.5" stroke-dasharray="4" class="animate-svg-animation"></path>
      </svg>
    </div>
  </div>
  <div class="flex items-center px-[6.25rem] z-10">
    <div class="w-3/5 text-white relative">
      <span>Sale 20% off all store</span>
      <h3 class="text-[28px] font-bold ">Subscribe our Newsletter</h3>
    </div>
    <div class="w-2/5">
      <form action="">
        <div class="relative">
          <input
            class="bg-[#fff] shadow-custom-light-1 h-[60px] pr-[155px] w-full text-sm leading-[56px] px-[.375rem] py-[.75rem] pl-[26px] outline-none"
            placeholder="Enter Your Email" required="required" name="email" type="email" id="email">
          <button class="absolute text-white bg-[#010f1c] shadow-custom-light-1 text-sm font-medium py-[20px] px-[40px] top-0 right-0"
            type="submit">Subscribe</button>
        </div>
      </form>
    </div>
  </div>
</div>
