<footer class="w-full">
  <app-footer-top />
  <app-footer-main />
  <app-footer-bottom />
  <button (click)="scrollToTop()" class="scroll-btn w-11 h-11 rounded-full bg-black text-white fixed z-50 right-10 bottom-10">
    <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4 shadow-xl">
      <path d="M11 6L6 1L1 6" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
      </path>
    </svg>
  </button>
</footer>
