// @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --h3-size: 28px;
  --tp-heading-primary: #010f1c;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: "Jost", sans-serif !important;
  color: #010f1c;
  // font-size: 14px;
}

h3 {
  font-size: var(--h3-size);
}

.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  background: white;
  animation: fadeInDown .5s ease-in-out 0s 1 normal none running;
  box-shadow: 0 2px 6px rgba(1, 15, 28, .16);
  margin: auto;
  top: 0;
}


.text-truncate {
  @apply overflow-hidden text-ellipsis whitespace-nowrap;
}

.btn-outline{
  @apply py-[5px] px-[25px] bg-transparent text-black border border-black transition-all duration-[0.3s] ease-[ease-out] delay-[0s] hover:bg-red-primary hover:text-white
}

p {
  color: #55585b;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
